[submodule "EyeWitness"]
	path = EyeWitness
	url = https://github.com/ChrisTruncer/EyeWitness.git
[submodule "Sublist3r"]
	path = Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "recon-ng"]
	path = recon-ng
	url = https://github.com/methos2016/recon-ng.git
[submodule "cloudflare_enum"]
	path = cloudflare_enum
	url = https://github.com/mandatoryprogrammer/cloudflare_enum.git
[submodule "massdns"]
	path = massdns
	url = https://github.com/blechschmidt/massdns.git
