[submodule "EyeWitness"]
	path = EyeWitness
	url = https://github.com/ChrisTruncer/EyeWitness.git
[submodule "Sublist3r"]
	path = Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "recon-ng"]
	path = recon-ng
	url = https://github.com/methos2016/recon-ng.git
[submodule "cloudflare_enum"]
	path = cloudflare_enum
	url = https://github.com/mandatoryprogrammer/cloudflare_enum.git
[submodule "massdns"]
	path = massdns
	url = https://github.com/blechschmidt/massdns.git
[submodule "masscan"]
	path = masscan
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "gobuster"]
	path = gobuster
	url = https://github.com/OJ/gobuster.git
[submodule "parameth"]
	path = parameth
	url = https://github.com/maK-/parameth.git
